## Exploratory Analysis

That's it for some preliminary cleaning. Don't worry, there will be more. Let's start to look in a bit more detail at the data, though. In this section, we're going to start to write some code that's typical for day-to-day data cleaning tasks.

In [65]:
from load_data import dta
import pandas as pd
import numpy as np

We can use `info` to get some high-level information about the data.

In [2]:
dta.head()

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_type,latitude,license_,longitude,results,risk,state,violations,zip
inspection_id,,,,,,,,,,,,,,,
1965287,5255 W MADISON ST,RED SNAPPER FISH CHICKEN & PIZZA,CHICAGO,RED SNAPPER FISH CHICKEN & PIZZA,Restaurant,2016-09-26,Canvass,41.880237,1991820.0,-87.757220,Pass w/ Conditions,Risk 1 (High),IL,"35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...",60644
1329698,5958 W DIVERSEY AVE,TAQUERIA MORELOS,CHICAGO,TAQUERIA MORELOS,Restaurant,2014-02-06,Canvass,41.931250,2099479.0,-87.775907,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60639
470787,5400-5402 N CLARK ST,HAMBURGER MARY'S/MARY'S REC ROOM,CHICAGO,HAMBURGER MARY'S CHICAGO/MARY'S REC ROOM,Restaurant,2010-12-03,SFP,41.979884,1933748.0,-87.668429,Fail,Risk 1 (High),IL,"6. HANDS WASHED AND CLEANED, GOOD HYGIENIC PRA...",60640
68091,2804 N CLARK ST,Wells Street Popcorn,CHICAGO,Wells Street Popcorn,Restaurant,2010-02-01,Canvass,41.932921,1954774.0,-87.645155,Pass,Risk 2 (Medium),IL,NaN,60657
1335320,2409 N WESTERN AVE,CHICAGO CUPCAKE,CHICAGO,CHICAGO CUPCAKE LLC.,Mobile Food Dispenser,2013-05-03,License Re-Inspection,41.925218,2232391.0,-87.687507,Fail,Risk 3 (Low),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60647

In [3]:
dta.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25000 entries, 1965287 to 413268
Data columns (total 15 columns):
address            25000 non-null object
aka_name           24709 non-null object
city               24981 non-null object
dba_name           25000 non-null object
facility_type      24787 non-null category
inspection_date    25000 non-null datetime64[ns]
inspection_type    25000 non-null category
latitude           24865 non-null float64
license_           24996 non-null float64
longitude          24865 non-null float64
results            25000 non-null category
risk               24995 non-null category
state              24994 non-null object
violations         23908 non-null object
zip                24990 non-null object
dtypes: category(4), datetime64[ns](1), float64(3), object(7)
memory usage: 2.4+ MB

And `describe` goes into a bit more detail for the *numeric* types, of which we don't have many here.

In [4]:
dta.describe()

           latitude      license_     longitude
count  24865.000000  2.499600e+04  24865.000000
mean      41.879734  1.475028e+06    -87.675890
std        0.081968  8.912679e+05      0.058372
min       41.644670  0.000000e+00    -87.914428
25%       41.828059  1.000632e+06    -87.707209
50%       41.891528  1.884173e+06    -87.666377
75%       41.939792  2.134724e+06    -87.634533
max       42.021064  8.700606e+06    -87.525125

We could do the same for the categorical types.

In [5]:
dta.select_dtypes(['category']).describe()

       facility_type inspection_type results           risk
count          24787           25000   25000          24995
unique           226              40       7              4
top       Restaurant         Canvass    Pass  Risk 1 (High)
freq           16954           12487   15915          18249

### GroupBy

Now, let's ask the most obvious question. Which are the best and the worst restaurants? We'll want to use pandas `GroupBy` functionality to implement the `split-apply-combine` pattern.

The idea here is that we **split** the data by some key or set of keys then **apply** a function to each group and then **combine** the outputs back into a single DataFrame.

First, let's see how many result categories there are. We can use `value_counts` to answer this question.

In [6]:
with pd.option_context("max.rows", 10):
    print(dta.results.value_counts())

Pass                    15915
Fail                     5760
Pass w/ Conditions       2931
Out of Business           246
No Entry                  107
Not Ready                  40
Business Not Located        1
Name: results, dtype: int64

Ok, let's group on the inspection `results` column and see who the best and worst are.

When we call the `groupby` method we get back a `DataFrameGroupBy` object.

In [7]:
grouper = dta.groupby(dta.results)

You can access the variables on this object, the same as a DataFrame, and any code called will execute within the groups.

In [8]:
result = grouper.dba_name.value_counts()

The result is a Series with a `MultiIndex`.

In [9]:
result

results               dba_name
Business Not Located  CITGO SUPER WASH & GAS          1
Fail                  SUBWAY                         42
                      DUNKIN DONUTS                  33
                      MCDONALD'S                     20
                      HAROLD'S CHICKEN SHACK         14
                                                     ..
Pass w/ Conditions    ZELLA                           1
                      ZOOM PIZZA FACTORY, INC.        1
                      ZUZU WRAPS INC                  1
                      Zaytune Mediterranean Grill     1
                      subway restaurant 1             1
Name: dba_name, Length: 16459, dtype: int64

In [10]:
result.index.names

FrozenList(['results', 'dba_name'])

In [11]:
result.to_frame().head(n = 30)

                                                          dba_name
results              dba_name
Business Not Located CITGO SUPER WASH & GAS                      1
Fail                 SUBWAY                                     42
                     DUNKIN DONUTS                              33
                     MCDONALD'S                                 20
                     HAROLD'S CHICKEN SHACK                     14
                     CHIPOTLE MEXICAN GRILL                     11
                     DUNKIN DONUTS / BASKIN ROBBINS             10
                     7-ELEVEN                                    9
                     MCDONALDS                                   9
                     POTBELLY SANDWICH WORKS                     9
                     POTBELLY SANDWICH WORKS LLC                 9
                     JIMMY JOHNS                                 8
                     LAS ISLAS MARIAS                            8
                     KFC                                         7
                     PIZZA HUT                                   7
                     BAR LOUIE                                   6
                     CORNER BAKERY CAFE                          6
                     DUNKIN DONUTS/BASKIN ROBBINS                6
                     EL TACONAZO RESTAURANT                      6
                     FRESHII                                     6
                     HALSTED STREET DELI                         6
                     OLD COUNTRY BUFFET                          6
                     SHARKS FISH & CHICKEN                       6
                     AMAZING GRACE DAYCARE CENTER                5
                     ANTON DVORAK ELEMENTARY                     5
                     CHURCH'S CHICKEN # 992                      5
                     CITGO                                       5
                     Congress Pizza                              5
                     DOMINO'S PIZZA                              5
                     EL CHILE RESTAURANT & PANCAKE HOUSE         5

An alternative way: use the `size()` method.

In [12]:
grouper1 = dta.groupby(['results', 'dba_name'])
grouper1.size().sort_values(ascending=False)

results               dba_name
Pass                  SUBWAY                     219
                      DUNKIN DONUTS              118
Pass w/ Conditions    SUBWAY                      59
Pass                  MCDONALD'S                  42
Fail                  SUBWAY                      42
                                                ...
Pass                  MC CANN DAY CARE CENTER      1
                      MAZE FOOD & LIQUOR           1
                      MAYS ELEMENTARY              1
                      MAYRA'S FAMILY CATERING      1
Business Not Located  CITGO SUPER WASH & GAS       1
Length: 16459, dtype: int64

We can index on the first element in a `MultiIndex` using square brackets and then use `sort_values` to find those restaurants that had a result of Fail the most.

In [13]:
with pd.option_context('max.rows', 15):
    print(result["Fail"].sort_values(ascending=False))

dba_name
SUBWAY                    42
DUNKIN DONUTS             33
MCDONALD'S                20
HAROLD'S CHICKEN SHACK    14
CHIPOTLE MEXICAN GRILL    11
                          ..
MERCER 113                 1
MELLOS PEANUT COMPANY      1
MEHRAB SUPER MARKET        1
MEERATH KABAB              1
HALSTED FOOD               1
Name: dba_name, Length: 4424, dtype: int64

Take a closer look above. Looks like we have some more data cleaning to do.

In [14]:
with pd.option_context('max.rows', 15):
    print(result["Pass"].sort_values(ascending=False))

dba_name
SUBWAY                  219
DUNKIN DONUTS           118
MCDONALD'S               42
7-ELEVEN                 38
AU BON PAIN              29
                       ...
KASEY'S TAVERN            1
KARYN'S ON GREEN          1
KARLA'S KITCHEN INC.      1
KARLA'S KITCHEN           1
CITY DOUGH                1
Name: dba_name, Length: 9328, dtype: int64

This is probably not the right way to think about this since there are many more Subways than local establishments.

We could instead look at the ratio of Fail to Pass, though, of course, this isn't perfect either. 

Sometimes, it's not *always* obvious how to go about computing things that you want to compute. The `get_group` method allows you to pull out one of the split DataFrames and try your apply function on it.

## Exercise

GroupBy the `dba_name`. Use `get_group` to pull out the "MCDONALD'S" group. Write a function that calculates the relative number of Fail to Pass for this group. Run this function on the McDonald's group.

In [16]:
# Type your solution here
def calculate_fail_to_pass(dat):
    fail_to_pass_ratio = dat['Fail']/dat['Pass']
    return fail_to_pass_ratio

my_data = dta.groupby(['dba_name']).get_group("MCDONALD'S").results.value_counts()
calculate_fail_to_pass(my_data)

0.47619047619047616

In [ ]:
%load solutions/get_group.py

# And we see McDonald's failed 50% as many inspections as it Passed.

We can run this on everything, but it's going to be a little slow. Let's look at another way to approach this problem.

Here group by *both* the inspection results and the DBA name. Then we ask for the `size` of each one of these groups.

In [17]:
result = dta.groupby((dta.results, dta.dba_name)).size()

/Users/firefreezing/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Interpreting tuple 'by' as a list of keys, rather than a single key. Use 'by=[...]' instead of 'by=(...)'. In the future, a tuple will always mean a single key.
  """Entry point for launching an IPython kernel.

In [18]:
result

results               dba_name
Business Not Located  CITGO SUPER WASH & GAS              1
Fail                  #1 WOK N ROLL                       2
                      'C' A CATERING AND EVENT COMPANY    1
                      10 PIN  BOWLING LOUNGE              1
                      1104 WABASH                         1
                                                         ..
Pass w/ Conditions    ZOCALO                              2
                      ZOOM PIZZA FACTORY, INC.            1
                      ZUZU WRAPS INC                      1
                      Zaytune Mediterranean Grill         1
                      subway restaurant 1                 1
Length: 16459, dtype: int64

We can use the `div` method to divide these for us. As you can see the indices don't line up, but we don't have to worry about it. Pandas take care of index alignment for us.

In [19]:
result["Fail"]

dba_name
#1 WOK N ROLL                       2
'C' A CATERING AND EVENT COMPANY    1
10 PIN  BOWLING LOUNGE              1
1104 WABASH                         1
111 TH FOOD & CELLULAR, INC         1
                                   ..
ZOZO                                1
ZULLO'S INC.                        1
iCREAM                              1
mcdonalds                           1
stockton                            1
Length: 4424, dtype: int64

In [20]:
result["Pass"]

dba_name
#1 CHOP SUEY                        3
#1 WOK N ROLL                       2
'C' A CATERING AND EVENT COMPANY    2
1 JACKPOT MINI MART, INC.           2
1 STOP & SHOP INC.                  1
                                   ..
elinas cafe                         1
mEAT ON CHESTNUT                    1
markos tacos&cafe                   1
mr.daniel's                         1
stockton                            1
Length: 9328, dtype: int64

In [21]:
ratio = result["Fail"].div(result["Pass"])
ratio.sort_values(ascending=False, inplace=True)
ratio

dba_name
EL CHILE RESTAURANT & PANCAKE HOUSE    5.0
AMAZING GRACE DAYCARE CENTER           5.0
THE NEW THREE HAPPINESS, INC           5.0
CHURCH'S CHICKEN # 992                 5.0
HEMA'S KITCHEN                         5.0
                                      ...
iCREAM                                 NaN
mEAT ON CHESTNUT                       NaN
markos tacos&cafe                      NaN
mcdonalds                              NaN
mr.daniel's                            NaN
Length: 11117, dtype: float64

We have a lot of `NaN`s in the results from division-by-zero. We can drop those with a call to `dropna`. Also note that pandas lets you decide whether to treat `inf` as an NA.

In [22]:
with pd.option_context("use_inf_as_null", True,
                       "max.rows", 15):
    print(ratio.dropna())

dba_name
EL CHILE RESTAURANT & PANCAKE HOUSE    5.000000
AMAZING GRACE DAYCARE CENTER           5.000000
THE NEW THREE HAPPINESS, INC           5.000000
CHURCH'S CHICKEN # 992                 5.000000
HEMA'S KITCHEN                         5.000000
                                         ...
MACY'S                                 0.090909
COCULA RESTAURANT                      0.090909
HOST INTERNATIONAL INC                 0.083333
TACO BURRITO KING                      0.076923
TRIPLE A SERVICES, INC.                0.071429
Length: 2635, dtype: float64

We might still not be wholly satisfied with our rules around comparisons here. First, we're looking at restaurant names not particular establishments. What does the distribution of inspection visits for establishments look like.

In [23]:
with pd.option_context("max.rows", 10):
    grouper = dta.groupby((dta.address, dta.dba_name))
    print(grouper.size().describe())

count    13444.000000
mean         1.859566
std          1.215183
min          1.000000
25%          1.000000
50%          1.000000
75%          2.000000
max         15.000000
dtype: float64

/Users/firefreezing/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: Interpreting tuple 'by' as a list of keys, rather than a single key. Use 'by=[...]' instead of 'by=(...)'. In the future, a tuple will always mean a single key.

Ok, let's make things a little more challenging. Let's see what the Fail:Pass ratio is for restaurants with at least 3 visits that involved a high risk level. 


Now we're starting to get into some much more powerful pandas constructs.

In [24]:
visited = (dta.query("risk == 'Risk 1 (High)'")
           .groupby(('address', 'dba_name'))
           .size()
           .rename('n_visits')
           .reset_index()  # make into a DataFrame
           .query("n_visits >= 4"))

visited

/Users/firefreezing/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: Interpreting tuple 'by' as a list of keys, rather than a single key. Use 'by=[...]' instead of 'by=(...)'. In the future, a tuple will always mean a single key.

,address,dba_name,n_visits
0,1 E 113TH ST,"V & J DAY CARE CENTER, INC",6
2,1 E JACKSON BLVD,Chartwells @ DePaul University,5
4,1 E WACKER DR,MCCORMICK & SCHMICK'S SEAFOOD RESTAURANT,4
18,1 W WACKER DR,RENAISSANCE CHICAGO HOTEL,4
26,10 N DEARBORN ST,SOPRAFFINA,4
37,10 W HUBBARD ST,VERMILION,5
40,100 E CHESTNUT ST,MIKE DITKA'S RESTAURANT,5
47,100 N LA SALLE ST,Qdoba Mexican Eats #2621,4
52,100 W 111TH ST,JACK' S FAMOUS WINGS,4
53,100 W 87TH ST,GRAND CHINESE KITCHEN,4
57,100 W ONTARIO ST,PORTILLO'S HOT DOGS,5
83,1000 W WASHINGTON BLVD,FLAT TOP GRILL,4
101,1001-1003 E 43RD ST,NORMAN'S,7
105,10041 S Union (700W),Fernwood,4
111,1008 1/2 W IRVING PARK RD,TAQUERIA EL PALMAR,4
112,1008 W ARMITAGE AVE,JA' GRILL,4
113,1009 N ASHLAND AVE,MON LUNG CHOP SUEY,7
119,101 N WACKER DR,PAZZO'S CUCINA ITALIANA,4
120,101 W NORTH AVE,ELLY'S PANCAKE HOUSE,7
129,1011 S DELANO EAST CT,"KERASOTES SHOWPLACE THEATERS, LLC",7
144,1015 N RUSH ST,NICO,4
161,1021 W ARMITAGE AVE,BUTCHER & THE BURGER,4
171,10232-10234 S HALSTED ST,MONTESSORI ACDY. INFT/TOD. CNT,5
173,1024 N ASHLAND AVE,Restaurant Veneno De Nayarit,4
177,10241 S WESTERN AVE,CHAN'S RESTAURANT,8
180,1025 W LAWRENCE AVE,DIB SUSHI BAR AND THAI CUISINE,7
181,1025 W MONTROSE AVE,MR SALSA,4
186,103 E 51ST ST,LITTLE WOK,5
194,10300 S EWING AVE,SUPERMERCADO EL TAPATIO,4
195,10309 S Morgan (1000W),"Garvey, M.",4
...,...,...,...
8789,8505 S Ingleside,Ashe,4
8802,8546 S CREGIER AVE,CALDWELL ELEMENTARY,5
8807,8550 S COTTAGE GROVE AVE,CAPTAIN HOOKS FISH & CHICKEN,6
8811,8555 S Michigan (100E),Neil,4
8815,857 N WESTERN AVE,"RICH'S DELI & LIQUOR, INC",4
8826,8616 S KEDZIE AVE,SKY CHOP SUEY INC,4
8827,8620 -08624 S RACINE AVE,SOUTHWEST MONTESSORI PRE SCHOL,4
8830,8635 S COTTAGE GROVE AVE,SIZZLIN SKILLETS,5
8835,87 W 87TH ST,JEWEL FOOD STORE #3181,6
8850,8734 S STONY ISLAND AVE,BJ'S MARKET & BAKERY,9
8855,875 N MICHIGAN AVE,SIGNATURE ROOM AT THE 95TH,4
8856,875 N MICHIGAN AVE,THE CHEESECAKE FACTORY,4
8864,8847 S COMMERCIAL AVE,COCULA RESTAURANT,5
8867,888 S MICHIGAN AVE,OYSY,5
8874,8929 S COMMERCIAL AVE,T & T MEXICAN RESTAURANT,4
8887,900 N MICHIGAN AVE,KING CAFE GOURMET & GO,5
8892,900 N NORTH BRANCH ST,KENDALL COLLEGE,5
8904,901 W JACKSON BLVD,Jaks Tap,4
8919,907 W BELMONT AVE,PHILLY'S BEST,4
8924,909 W IRVING PARK RD,CORONAS COFFEE II,6
8960,926 W DIVERSEY PKWY,FOGO TO GO,4
8981,936 N ASHLAND AVE,Wells Comm. Acad. (H/S),5
8985,937 N RUSH ST,Le Colonial,4
9034,9510 S Prospect (1700W),Vanderpoel Magnet,5
9036,952 W LAKE ST,BAR TAKITO,4
9054,958 - 960 W BELMONT AVE,CHEESIES PUB & GRUB,5
9058,958 W WEBSTER AVE,JAM N' HONEY,4
9069,970 E 58TH ST,UNIVERSITY OF CHICAGO BOOKSTORE # 491,4
9076,9755 S Greenwood (1100E),SCHMID,4
9084,9833 S THROOP,ST MARGARET ELEMENTARY,5

Let's unpack this. The first thing to note is how this code is organized. Each one of these methods return a pandas data structure on which we call the next method. This is called **method chaining**. We use the same trick seen above to split strings across lines to split several method calls by including the code between `()`.

Next, we see several new methods. The first is **query**. When subsetting a DataFrame we have a few options. As we save above, we can index a DataFrame using integers. Likewise, we could pass an object of booleans as well.

In [25]:
dta.risk == "Risk 1 (High)"

inspection_id
1965287     True
1329698     True
470787      True
68091      False
1335320    False
           ...
2059771     True
1965378     True
1490395    False
1326565    False
413268      True
Name: risk, Length: 25000, dtype: bool

In [26]:
dta.loc[dta.risk == "Risk 1 (High)"]

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_type,latitude,license_,longitude,results,risk,state,violations,zip
inspection_id,,,,,,,,,,,,,,,
1965287,5255 W MADISON ST,RED SNAPPER FISH CHICKEN & PIZZA,CHICAGO,RED SNAPPER FISH CHICKEN & PIZZA,Restaurant,2016-09-26,Canvass,41.880237,1991820.0,-87.757220,Pass w/ Conditions,Risk 1 (High),IL,"35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...",60644
1329698,5958 W DIVERSEY AVE,TAQUERIA MORELOS,CHICAGO,TAQUERIA MORELOS,Restaurant,2014-02-06,Canvass,41.931250,2099479.0,-87.775907,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60639
470787,5400-5402 N CLARK ST,HAMBURGER MARY'S/MARY'S REC ROOM,CHICAGO,HAMBURGER MARY'S CHICAGO/MARY'S REC ROOM,Restaurant,2010-12-03,SFP,41.979884,1933748.0,-87.668429,Fail,Risk 1 (High),IL,"6. HANDS WASHED AND CLEANED, GOOD HYGIENIC PRA...",60640
1285582,3201-3203 W ARMITAGE AVE,STREET SIDE CAFE,CHICAGO,STREET SIDE CAFE,Restaurant,2012-09-27,Canvass,41.917291,84648.0,-87.707052,Pass w/ Conditions,Risk 1 (High),IL,"16. FOOD PROTECTED DURING STORAGE, PREPARATION...",60647
74468,4445 S Drexel (900E),KING COLLEGE PREP HIGH SCHOOL,CHICAGO,KING SELECTIVE ENROL.H/S,School,2010-05-26,Canvass,41.813695,46371.0,-87.603838,Pass,Risk 1 (High),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60653
1522863,3958 N NARRAGANSETT AVE,MR ZEE'S,CHICAGO,"MR ZEES, INC",Restaurant,2015-02-10,Canvass,41.952792,49683.0,-87.786701,Pass,Risk 1 (High),IL,38. VENTILATION: ROOMS AND EQUIPMENT VENTED AS...,60634
1365288,10-20 E DELAWARE ST,LITTLE MARKET BRASSIERE,CHICAGO,LITTLE MARKET BRASSIERE,Restaurant,2013-09-26,Canvass Re-Inspection,41.899255,2157256.0,-87.627835,Pass,Risk 1 (High),IL,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,60611
1453434,81 E VAN BUREN ST,THE CHICAGO CLUB,CHICAGO,THE CHICAGO CLUB,Restaurant,2014-07-21,Canvass,41.876897,36751.0,-87.624651,Pass,Risk 1 (High),IL,"16. FOOD PROTECTED DURING STORAGE, PREPARATION...",60605
1978957,3042 N BROADWAY,STELLA'S DINER,CHICAGO,STELLA'S DINER,Restaurant,2017-01-05,Complaint,41.937665,3769.0,-87.644468,Pass,Risk 1 (High),IL,45. FOOD HANDLER REQUIREMENTS MET - Comments: ...,60657
1971125,3658 W IRVING PARK RD,CHICKEN WORKS AND SALAD CO.,CHICAGO,CHICKEN WORKS AND SALAD CO.,Restaurant,2016-11-09,Canvass,41.953858,1969955.0,-87.719998,Pass,Risk 1 (High),IL,"30. FOOD IN ORIGINAL CONTAINER, PROPERLY LABEL...",60618
606496,9440 S LAFAYETTE AVE,SEE THRU CHINESE KITCHEN #15,CHICAGO,SEE THRU CHINESE KITCHEN #15,Restaurant,2011-11-18,Complaint,41.722232,1649310.0,-87.625209,Pass,Risk 1 (High),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60620
1434800,4140 W Addison ST,St. Viator,CHICAGO,St. Viator,School,2014-04-14,Canvass,41.946440,1878519.0,-87.730738,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60641
1096484,701 S STATE ST,SOUTH LOOP CLUB INC,CHICAGO,SOUTH LOOP CLUB INC,Restaurant,2012-08-28,Canvass,41.873056,14622.0,-87.627418,Pass,Risk 1 (High),IL,31. CLEAN MULTI-USE UTENSILS AND SINGLE SERVIC...,60605
1448016,60 E OHIO ST,BIG BOWL,CHICAGO,BIG BOWL,Restaurant,2015-10-01,Complaint,41.892625,1573666.0,-87.625726,Fail,Risk 1 (High),IL,8. SANITIZING RINSE FOR EQUIPMENT AND UTENSILS...,60611
250608,5897 N ELSTON AVE,MARY AND JANET'S DAYCARE & LEARNING CENTER,CHICAGO,MARY AND JANET'S DAYCARE & LEARNING CENTER,Daycare (2 - 6 Years),2010-06-07,Canvass,41.988666,1595244.0,-87.775126,Pass,Risk 1 (High),IL,"41. PREMISES MAINTAINED FREE OF LITTER, UNNECE...",60646
1324353,1400 S JEFFERSON ST,BROWN CAFE CHICAGO,CHICAGO,BROWN CAFE CHICAGO,Restaurant,2013-03-12,Canvass,41.863501,2042739.0,-87.642210,Pass w/ Conditions,Risk 1 (High),IL,21. * CERTIFIED FOOD MANAGER ON SITE WHEN POTE...,60607
1948939,730-732 W MAXWELL ST,KOHAN JAPANESE RESTAURANT,CHICAGO,KOHAN JAPANESE RESTAURANT,Restaurant,2016-08-08,Canvass,41.864902,1841301.0,-87.646292,Pass,Risk 1 (High),IL,"41. PREMISES MAINTAINED FREE OF LITTER, UNNECE...",60607
1751612,2203 N CLYBOURN AVE,RICE CAFE,CHICAGO,RICE CAFE,Restaurant,2016-04-07,Canvass Re-Inspection,41.921777,1803589.0,-87.664413,Fail,Risk 1 (High),IL,13. NO EVIDENCE OF RODENT OR INSECT INFESTATIO...,60614
68160,3200 N BROADWAY,CHICKEN HUT,CHICAGO,CHICKEN HUT,Restaurant,2010-02-04,Suspected Food Poisoning,41.940097,23914.0,-87.644548,Fail,Risk 1 (High),IL,"9. WATER SOURCE: SAFE, HOT & COLD UNDER CITY P...",60657
2050231,1308 N MILWAUKEE,ANGRY CRAB,CHICAGO,ANGRY CRAB,Restaurant,2017-05-11,Complaint,41.905372,2476217.0,-87.669853,Pass,Risk 1 (High),IL,"34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO...",60622
164334,1400 W 95TH ST,TONY'S STEAK & WINGS,CHICAGO,TONY'S STEAK & WINGS,Restaurant,2010-02-17,Canvass,41.721387,1769873.0,-87.657876,Pass,Risk 1 (High),IL,"30. FOOD IN ORIGINAL CONTAINER, PROPERLY LABEL...",60643
1995211,370 N DESPLAINES ST,JEWEL FOOD STORE #3376,CHICAGO,JEWEL FOOD STORE #3376,Grocery Store,2017-03-08,Canvass,41.888918,1909968.0,-87.644478,Pass,Risk 1 (High),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60661
1194257,5951-5959 W LAWRENCE AVE,BROTHERS AND FATHERS PIZZERIA,CHICAGO,BROTHERS AND FATHERS PIZZERIA,Restaurant,2012-04-23,Short Form Complaint,41.967550,2037577.0,-87.776727,Pass,Risk 1 (High),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60630
1522551,2300 S WENTWORTH AVE,CHINA CAFE,CHICAGO,CHINA CAFE,Restaurant,2015-02-03,License Re-Inspection,41.850939,2364163.0,-87.632120,Pass,Risk 1 (High),IL,"34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO...",60616
612526,2 W ERIE ST,FREESTYLE FOOD+DRINK,CHICAGO,DANA HOTEL AND SPA,Restaurant,2011-10-26,Complaint,41.894180,1884390.0,-87.628218,Fail,Risk 1 (High),IL,3. POTENTIALLY HAZARDOUS FOOD MEETS TEMPERATUR...,60654
1971122,215 N CLINTON ST,NaN,CHICAGO,TRI-STAR CATERING,Restaurant,2016-11-09,Canvass,41.886197,2428425.0,-87.641173,Fail,Risk 1 (High),IL,29. PREVIOUS MINOR VIOLATION(S) CORRECTED 7-42...,60661
114673,1009 N ASHLAND AVE,MON LUNG CHOP SUEY,CHICAGO,MON LUNG CHOP SUEY,Restaurant,2010-12-01,Canvass,41.900007,1842823.0,-87.667254,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60622
1166282,4367 N MILWAUKEE AVE,BACCI CAFE AND PIZZERIA,CHICAGO,BACCI CAFE AND PIZZERIA ON MILAUKEE AVE. INC.,Restaurant,2013-04-22,Canvass Re-Inspection,41.960551,1444299.0,-87.754231,Pass,Risk 1 (High),IL,29. PREVIOUS MINOR VIOLATION(S) CORRECTED 7-42...,60641
1938251,1812 W MONTROSE AVE,SPOKEN CHICAGO,CHICAGO,"SPOKEN, CHICAGO",Restaurant,2016-07-18,Complaint,41.961617,2278775.0,-87.675122,Fail,Risk 1 (High),IL,"1. SOURCE SOUND CONDITION, NO SPOILAGE, FOODS ...",60613
1301003,459 N OGDEN AVE,CLUTCH,CHICAGO,"CLUTCH FOOD AND DRINK, LLC",Restaurant,2012-12-19,Canvass,41.890859,1927731.0,-87.659024,Fail,Risk 1 (High),IL,"16. FOOD PROTECTED DURING STORAGE, PREPARATION...",60642
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1326880,2459 S MILLARD AVE,LA NUEVA IMAGEN GROCERY,CHICAGO,"LA NUEVA IMAGEN GROCERY, INC.",Grocery Store,2013-04-04,Canvass,41.846297,1804216.0,-87.715916,Fail,Risk 1 (High),IL,19. OUTSIDE GARBAGE WASTE GREASE AND STORAGE A...,60623
1632429,7047 N CLARK ST,EL FAMOUS RESTAURANT,CHICAGO,EL FAMOUS RESTAURANT,Restaurant,2016-03-01,Canvass Re-Inspection,42.010388,12601.0,-87.674119,Pass,Risk 1 (High),IL,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,60626
1134270,162 N FRANKLIN ST,EPPYS CAFE & DELI,CHICAGO,EPPYS CAFE & DELI,Restaurant,2012-05-10,Complaint,41.884872,1874936.0,-87.635537,Fail,Risk 1 (High),IL,"16. FOOD PROTECTED DURING STORAGE, PREPARATION...",60606
1418981,200 S MICHIGAN AVE,POTBELLY SANDWICH WORKS,CHICAGO,POTBELLY SANDWICH WORKS,Restaurant,2015-05-08,Complaint,41.879489,2099528.0,-87.624498,Fail,Risk 1 (High),IL,"9. WATER SOURCE: SAFE, HOT & COLD UNDER CITY P...",60604
1324346,1101 S CANAL ST,KIKKA-SOUTH LOOP,CHICAGO,KIKKA-SOUTH LOOP,Restaurant,2013-03-07,Canvass,41.868890,1898506.0,-87.639099,Pass w/ Conditions,Risk 1 (High),IL,21. * CERTIFIED FOOD MANAGER ON SITE WHEN POTE...,60607
176710,3715-3717 N HALSTED ST,Jitlada Thai House Restaurant,CHICAGO,Jitlada Thai House Restaurant,Restaurant,2010-03-17,Canvass,41.949557,1959797.0,-87.649409,Fail,Risk 1 (High),IL,3. POTENTIALLY HAZARDOUS FOOD MEETS TEMPERATUR...,60613
1202506,4718 S PULASKI RD,MILANO'S MEATS & PRODUCE,CHICAGO,MILANO'S MEATS & PRODUCE,Grocery Store,2012-11-08,Canvass,41.807274,2108081.0,-87.723715,Pass w/ Conditions,Risk 1 (High),IL,21. * CERTIFIED FOOD MANAGER ON SITE WHEN POTE...,60632
1460180,2046 N DAMEN AVE,TOAST,CHICAGO,TOAST,Restaurant,2014-05-29,Canvass,41.919115,46777.0,-87.677816,Pass,Risk 1 (High),IL,38. VENTILATION: ROOMS AND EQUIPMENT VENTED AS...,60647
1324672,47 W DIVISION ST,WINGSTOP,CHICAGO,WINGSTOP,Restaurant,2013-09-12,Canvass,41.903809,2196763.0,-87.630407,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60610
1439335,162 E OHIO ST,LAVAZZA CAFE,CHICAGO,LAVAZZA CAFE,Restaurant,2014-06-05,Canvass Re-Inspection,41.892667,1878434.0,-87.622866,Pass w/ Conditions,Risk 1 (High),IL,24. DISH WASHING FACILITIES: PROPERLY DESIGNED...,60611
1975445,1439-1443 W 79TH ST,"SUITE LITTLE FEET, INC",CHICAGO,"SUITE LITTLE FEET, INC",Children's Services Facility,2016-11-15,License,41.750294,2496178.0,-87.660092,Fail,Risk 1 (High),IL,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,60620
612615,15 W DELAWARE PL,CHICAGO SINAI CONGREGATION,CHICAGO,CHICAGO SINAI CONGREGATION,Daycare (2 - 6 Years),2012-01-04,License,41.899022,75567.0,-87.628924,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60610
197247,71 W MONROE ST,ITALIAN VILLAGE / VIVERE,CHICAGO,"ITALIAN VILLAGE RESTAURANT, INC.",Restaurant,2010-02-03,Short Form Complaint,41.880592,1237.0,-87.630442,Pass,Risk 1 (High),IL,NaN,60603
413579,1864 S BLUE ISLAND AVE,LA ESPERANZA,CHICAGO,LA ESPERANZA RESTAURANT III INC.,Restaurant,2010-09-17,Canvass,41.856307,2013511.0,-87.662659,Out of Business,Risk 1 (High),IL,NaN,60608
2049615,400 E 69TH ST,HONEY'S,CHICAGO,HONEY'S TO GO CARRYOUT,Restaurant,2017-05-02,Canvass,41.769450,2379450.0,-87.615298,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60637
1230080,345 E SUPERIOR ST,REHABILITATION HOSPITAL,CHICAGO,REHABILITATION HOSPITAL,Restaurant,2012-07-13,Consultation,41.895719,13685.0,-87.618731,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60611
1946768,6262 N HARLEM AVE,BRANDY'S RESTAURANT,CHICAGO,BRANDY'S RESTAURANT,Restaurant,2016-07-18,Canvass,41.995346,1519918.0,-87.806966,Fail,Risk 1 (High),IL,2. FACILITIES TO MAINTAIN PROPER TEMPERATURE -...,60631
529379,1943 W 51ST ST,TAQUERIA DON PANCHO'S,CHICAGO,TAQUERIA DON PANCHO'S,Restaurant,2011-11-04,Complaint Re-Inspection,41.801131,1226388.0,-87.673807,Pass,Risk 1 (High),IL,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,60609
1464890,1040 N Keeler AVE,Piccolo Specialty School,CHICAGO,Piccolo Specialty School,School,2015-05-08,Canvass Re-Inspection,41.900146,24781.0,-87.731298,Pass,Risk 1 (High),IL,19. OUTSIDE GARBAGE WASTE GREASE AND STORAGE A...,60651
1182230,2455 S DAMEN AVE,NaN,CHICAGO,MARKET PLACE OF CHICAGO LLC,Shared Kitchen,2012-04-03,License,41.846991,2133683.0,-87.675559,Pass,Risk 1 (High),IL,"35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...",60608
1966555,1305-1307 W 111TH ST,GIFT 4 KIDS DAYCARE,CHICAGO,GIFT 4 KIDS DAYCARE CENTER LLC,Daycare Above and Under 2 Years,2016-10-17,License Re-Inspection,41.692098,2341291.0,-87.654809,Pass,Risk 1 (High),IL,"11. ADEQUATE NUMBER, CONVENIENT, ACCESSIBLE, D...",60643
120509,111 S MORGAN ST,MORGAN STREET CAFE,CHICAGO,MORGAN STREET CAFE,Restaurant,2010-06-24,Complaint,41.880048,1595203.0,-87.651832,Pass,Risk 1 (High),IL,"34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO...",60607
604507,6950 N Hiawatha,Wildwood,CHICAGO,Wildwood,School,2011-11-15,Consultation,42.007470,25881.0,-87.778371,Fail,Risk 1 (High),IL,29. PREVIOUS MINOR VIOLATION(S) CORRECTED 7-42...,60646
1184322,501 S WELLS ST,TUTTO ITALIANO,CHICAGO,TUTTO ITALIANO,Restaurant,2012-05-16,Canvass,41.875537,34465.0,-87.633510,Pass,Risk 1 (High),IL,"43. FOOD (ICE) DISPENSING UTENSILS, WASH CLOTH...",60607
114871,224-226 S WABASH AVE,EXCHEQUER RESTAURANT,CHICAGO,EXCHEQUER RESTAURANT,Restaurant,2011-04-07,Canvass,41.878904,1732.0,-87.626250,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60604
531556,1300 E 47TH ST,MICHAEL'S FRESH MARKET,CHICAGO,MICHAELS FRESH MARKET,Grocery Store,2011-09-09,Short Form Complaint,41.809773,2043177.0,-87.594961,Pass,Risk 1 (High),IL,"34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO...",60653
325228,301 E NORTH WATER ST,ROOM SERVICE,CHICAGO,SHERATON CHICAGO HOTEL/TOWER,Restaurant,2010-07-22,Canvass,41.889458,23331.0,-87.620368,Fail,Risk 1 (High),IL,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,60611
2059771,333 E BENTON PL,SUBWAY,CHICAGO,SUBWAY,Restaurant,2017-06-07,Canvass,41.885390,2202890.0,-87.618987,Pass,Risk 1 (High),IL,"41. PREMISES MAINTAINED FREE OF LITTER, UNNECE...",60601
1965378,1664 N ADA ST,ADA STREET-DMK,CHICAGO,ADA STREET,Restaurant,2016-09-27,Canvass,41.912568,2114079.0,-87.662167,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60642
413268,518-520 E 79TH ST,YOUNG ACHIEVERS ACADEMY,CHICAGO,YOUNG ACHIEVERS ACADEMY,Daycare Combo 1586,2010-09-10,License,41.751282,2017190.0,-87.611691,Pass,Risk 1 (High),IL,NaN,60619

Always using indexing can be verbose, however. You may need compound statements, for example.

In [27]:
dta.loc[(dta.risk == "Risk 1 (High)") | (dta.risk == "Risk 1 (Medium)")].head()

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_type,latitude,license_,longitude,results,risk,state,violations,zip
inspection_id,,,,,,,,,,,,,,,
1965287,5255 W MADISON ST,RED SNAPPER FISH CHICKEN & PIZZA,CHICAGO,RED SNAPPER FISH CHICKEN & PIZZA,Restaurant,2016-09-26,Canvass,41.880237,1991820.0,-87.757220,Pass w/ Conditions,Risk 1 (High),IL,"35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...",60644
1329698,5958 W DIVERSEY AVE,TAQUERIA MORELOS,CHICAGO,TAQUERIA MORELOS,Restaurant,2014-02-06,Canvass,41.931250,2099479.0,-87.775907,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60639
470787,5400-5402 N CLARK ST,HAMBURGER MARY'S/MARY'S REC ROOM,CHICAGO,HAMBURGER MARY'S CHICAGO/MARY'S REC ROOM,Restaurant,2010-12-03,SFP,41.979884,1933748.0,-87.668429,Fail,Risk 1 (High),IL,"6. HANDS WASHED AND CLEANED, GOOD HYGIENIC PRA...",60640
1285582,3201-3203 W ARMITAGE AVE,STREET SIDE CAFE,CHICAGO,STREET SIDE CAFE,Restaurant,2012-09-27,Canvass,41.917291,84648.0,-87.707052,Pass w/ Conditions,Risk 1 (High),IL,"16. FOOD PROTECTED DURING STORAGE, PREPARATION...",60647
74468,4445 S Drexel (900E),KING COLLEGE PREP HIGH SCHOOL,CHICAGO,KING SELECTIVE ENROL.H/S,School,2010-05-26,Canvass,41.813695,46371.0,-87.603838,Pass,Risk 1 (High),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60653

Instead, by using query we could write the following, which is slightly easier.

In [28]:
dta.query("(risk == 'Risk 1 (High)') | (risk == 'Risk 1 (Medium)')").head()

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_type,latitude,license_,longitude,results,risk,state,violations,zip
inspection_id,,,,,,,,,,,,,,,
1965287,5255 W MADISON ST,RED SNAPPER FISH CHICKEN & PIZZA,CHICAGO,RED SNAPPER FISH CHICKEN & PIZZA,Restaurant,2016-09-26,Canvass,41.880237,1991820.0,-87.757220,Pass w/ Conditions,Risk 1 (High),IL,"35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...",60644
1329698,5958 W DIVERSEY AVE,TAQUERIA MORELOS,CHICAGO,TAQUERIA MORELOS,Restaurant,2014-02-06,Canvass,41.931250,2099479.0,-87.775907,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60639
470787,5400-5402 N CLARK ST,HAMBURGER MARY'S/MARY'S REC ROOM,CHICAGO,HAMBURGER MARY'S CHICAGO/MARY'S REC ROOM,Restaurant,2010-12-03,SFP,41.979884,1933748.0,-87.668429,Fail,Risk 1 (High),IL,"6. HANDS WASHED AND CLEANED, GOOD HYGIENIC PRA...",60640
1285582,3201-3203 W ARMITAGE AVE,STREET SIDE CAFE,CHICAGO,STREET SIDE CAFE,Restaurant,2012-09-27,Canvass,41.917291,84648.0,-87.707052,Pass w/ Conditions,Risk 1 (High),IL,"16. FOOD PROTECTED DURING STORAGE, PREPARATION...",60647
74468,4445 S Drexel (900E),KING COLLEGE PREP HIGH SCHOOL,CHICAGO,KING SELECTIVE ENROL.H/S,School,2010-05-26,Canvass,41.813695,46371.0,-87.603838,Pass,Risk 1 (High),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60653

## Exercise

Use `query` to find the visits that are to restaurants and that are complaint re-inspections.

In [29]:
dta.groupby(dta.inspection_type).size().head()

inspection_type
Business Not Located         1
CANVASS/SPECIAL EVENT        1
CHANGED COURT DATE           1
Canvass                  12487
Canvass Re-Inspection     3181
dtype: int64

In [30]:
# Type your solution here
dta.query("facility_type == 'Restaurant' & inspection_type == 'Complaint Re-Inspection'")

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_type,latitude,license_,longitude,results,risk,state,violations,zip
inspection_id,,,,,,,,,,,,,,,
614430,201 W MADISON ST,DUNKIN DONUTS,CHICAGO,DUNKIN DONUTS,Restaurant,2011-08-22,Complaint Re-Inspection,41.881835,1742236.0,-87.633897,Pass,Risk 2 (Medium),IL,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,60606
2081698,1524 W 115TH ST,I-57 RIB HOUSE,CHICAGO,I-57 RIB HOUSE,Restaurant,2017-09-07,Complaint Re-Inspection,41.684938,58149.0,-87.661123,Pass,Risk 1 (High),IL,19. OUTSIDE GARBAGE WASTE GREASE AND STORAGE A...,60643
1385475,5542 W NORTH AVE,SUNSUB & PHILLY'S,CHICAGO,SUNSUB & PHILLY'S,Restaurant,2014-07-18,Complaint Re-Inspection,41.909498,2129537.0,-87.764807,Pass w/ Conditions,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60639
1946225,4623-4627 N BROADWAY,IYANZE,CHICAGO,IYANZE,Restaurant,2016-07-07,Complaint Re-Inspection,41.966063,1909713.0,-87.657734,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60640
666300,225 S CANAL ST,KELLY'S CAJUN GRILL,CHICAGO,KCG OF CHICAGO UNION STATION,Restaurant,2012-01-03,Complaint Re-Inspection,41.878531,69186.0,-87.639427,Fail,Risk 1 (High),IL,"9. WATER SOURCE: SAFE, HOT & COLD UNDER CITY P...",60606
680079,1168-1172 E 55TH ST,THE WOODLAWN TAP,CHICAGO,THE WOODLAWN TAP,Restaurant,2012-03-09,Complaint Re-Inspection,41.795173,79075.0,-87.596851,Pass,Risk 2 (Medium),IL,"34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO...",60615
233395,1919 N CICERO AVE,QUITE FRANKLY,CHICAGO,QUITE FRANKLY,Restaurant,2010-04-29,Complaint Re-Inspection,41.915710,1355963.0,-87.745908,Pass,Risk 2 (Medium),IL,"26. ADEQUATE NUMBER, CONVENIENT, ACCESSIBLE, P...",60639
1096558,520 S MICHIGAN AVE,THE CONGRESS HOTEL(TAVERN HALL-RAFAEL),CHICAGO,THE CONGRESS HOTEL,Restaurant,2012-10-02,Complaint Re-Inspection,41.875260,49248.0,-87.624397,Pass,Risk 1 (High),IL,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,60605
1386529,1359 W 79TH ST,NaN,CHICAGO,I & O FOOD MART INC,Restaurant,2015-10-29,Complaint Re-Inspection,41.750317,2363441.0,-87.658527,Pass w/ Conditions,Risk 1 (High),IL,"16. FOOD PROTECTED DURING STORAGE, PREPARATION...",60620
1970640,3135 N BROADWAY,ARGO TEA,CHICAGO,ARGO TEA,Restaurant,2016-11-01,Complaint Re-Inspection,41.938653,1739121.0,-87.644205,Pass,Risk 1 (High),IL,"11. ADEQUATE NUMBER, CONVENIENT, ACCESSIBLE, D...",60657
1395214,1820-1822 W MONTROSE AVE,GLENN'S DINER,CHICAGO,GLENN'S DINER,Restaurant,2013-12-30,Complaint Re-Inspection,41.961612,1738519.0,-87.675437,Pass,Risk 1 (High),IL,19. OUTSIDE GARBAGE WASTE GREASE AND STORAGE A...,60613
1954126,800 N KEDZIE AVE,SEE THRU CHINESE RESTAURANT,CHICAGO,SEE THRU CHINESE RESTAURANT,Restaurant,2016-09-09,Complaint Re-Inspection,41.895615,1227055.0,-87.706705,Pass,Risk 1 (High),IL,"11. ADEQUATE NUMBER, CONVENIENT, ACCESSIBLE, D...",60651
657233,252 W 26TH ST,RICOBENE'S ON 26TH STREET,CHICAGO,RICOBENE'S ON 26TH STREET,Restaurant,2011-08-26,Complaint Re-Inspection,41.845607,1742949.0,-87.633886,Pass,Risk 1 (High),IL,"16. FOOD PROTECTED DURING STORAGE, PREPARATION...",60616
519210,3114 N LINCOLN AVE,Chicago's Pizza,CHICAGO,Chicago's Pizza,Restaurant,2011-03-17,Complaint Re-Inspection,41.938192,1046054.0,-87.666812,Pass,Risk 1 (High),IL,"10. SEWAGE AND WASTE WATER DISPOSAL, NO BACK S...",60657
1976103,1208 N WELLS ST,RABBIT HOLE,CHICAGO,RABBIT HOLE,Restaurant,2016-11-29,Complaint Re-Inspection,41.904151,1514802.0,-87.634636,Pass,Risk 1 (High),IL,"41. PREMISES MAINTAINED FREE OF LITTER, UNNECE...",60610
1385330,5542 W NORTH AVE,SUNSUB & PHILLY'S,CHICAGO,SUNSUB & PHILLY'S,Restaurant,2014-05-20,Complaint Re-Inspection,41.909498,2129537.0,-87.764807,Pass,Risk 1 (High),IL,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,60639
1235609,4437 N BROADWAY,THE SPOT,CHICAGO,THE SPOT,Restaurant,2013-01-22,Complaint Re-Inspection,41.962793,1675108.0,-87.655643,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60640
1285818,903 N HALSTED ST,FLAMING WOK N GRILL,CHICAGO,M J FLAMING,Restaurant,2012-10-11,Complaint Re-Inspection,41.899110,1597447.0,-87.647733,Pass,Risk 1 (High),IL,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,60642
1134312,600 W CHICAGO AVE,SNARF'S,CHICAGO,SNARF'S RIVER NORTH,Restaurant,2012-06-07,Complaint Re-Inspection,41.896585,2041943.0,-87.642996,Pass,Risk 1 (High),IL,38. VENTILATION: ROOMS AND EQUIPMENT VENTED AS...,60654
250620,2033 N Milwaukee AVE,Congress Pizza & Pasta,CHICAGO,Congress Pizza,Restaurant,2010-06-07,Complaint Re-Inspection,41.918266,1980017.0,-87.689528,Pass,Risk 1 (High),IL,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,60647
2010155,6237 S HALSTED PKWY,LONG TUNG CHINESE KITCHEN,CHICAGO,LONG TUNG CHINESE KITCHEN,Restaurant,2017-04-11,Complaint Re-Inspection,NaN,1985572.0,NaN,Fail,Risk 1 (High),IL,19. OUTSIDE GARBAGE WASTE GREASE AND STORAGE A...,60621
1441791,2241 N WESTERN AVE,HONEY 1,CHICAGO,HONEY 1 BBQ,Restaurant,2015-03-24,Complaint Re-Inspection,41.922878,1622262.0,-87.687433,Fail,Risk 1 (High),IL,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,60647
1322201,2033 N Milwaukee AVE,Congress Pizza & Pasta,CHICAGO,Congress Pizza,Restaurant,2013-03-07,Complaint Re-Inspection,41.918266,1980017.0,-87.689528,Fail,Risk 1 (High),IL,13. NO EVIDENCE OF RODENT OR INSECT INFESTATIO...,60647
1391441,1235 W DEVON AVE,NORI SUSHI & NOODLE SHOP,CHICAGO,NORI SUSHI & NOODLE SHOP,Restaurant,2014-03-05,Complaint Re-Inspection,41.998063,1473514.0,-87.661978,Pass,Risk 1 (High),IL,19. OUTSIDE GARBAGE WASTE GREASE AND STORAGE A...,60660
1527503,9440 W FOSTER AVE,MARIA'S MEXICAN RESTURANT,CHICAGO,MARIA'S MEXICAN RESTURANT,Restaurant,2015-03-04,Complaint Re-Inspection,41.973401,22926.0,-87.863030,Pass,Risk 1 (High),IL,45. FOOD HANDLER REQUIREMENTS MET - Comments: ...,60656
1300539,432 E 63RD ST,"ACE'S SOUL FOOD CAFE, INC.",CHICAGO,"ACE'S SOUL FOOD CAFE, INC.",Restaurant,2012-11-16,Complaint Re-Inspection,41.780371,1904903.0,-87.614355,Fail,Risk 1 (High),IL,24. DISH WASHING FACILITIES: PROPERLY DESIGNED...,60637
88230,5530 N LINCOLN AVE,BEL-AMI RESTAURANT,CHICAGO,BEL-AMI RESTAURANT,Restaurant,2010-01-27,Complaint Re-Inspection,41.982053,1122732.0,-87.693541,Pass,Risk 1 (High),IL,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,60625
1174525,1343 W 18th ST,CHINA DRAGON,CHICAGO,CHINA DRAGON 18TH ST INC.,Restaurant,2013-02-13,Complaint Re-Inspection,41.857778,2177172.0,-87.660588,Pass,Risk 1 (High),IL,"26. ADEQUATE NUMBER, CONVENIENT, ACCESSIBLE, P...",60608
547767,5148 W MADISON ST,BUNNIES AMERICAN INC.,CHICAGO,BUNNIES AMERICAN INC.,Restaurant,2011-10-24,Complaint Re-Inspection,41.880488,2098937.0,-87.754593,Pass,Risk 2 (Medium),IL,19. OUTSIDE GARBAGE WASTE GREASE AND STORAGE A...,60644
1493249,2547 W Lawrence AVE,PAPRIKA INDIAN RESTAURANT,CHICAGO,PAPRIKA INDIAN RESTAURANT,Restaurant,2014-08-05,Complaint Re-Inspection,41.968467,1980844.0,-87.693220,Pass,Risk 1 (High),IL,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,60625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63247,2609 S KEDZIE AVE,MCDONALD'S,CHICAGO,MCDONALD'S,Restaurant,2010-02-02,Complaint Re-Inspection,41.844202,1332913.0,-87.704887,Pass,Risk 2 (Medium),IL,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,60623
1942212,3600 N RECREATION DR,CLOCK TOWER CAFE,CHICAGO,SYDNEY MAROVITZ GOLF COURSE,Restaurant,2016-08-18,Complaint Re-Inspection,41.948866,2055272.0,-87.643034,Pass,Risk 1 (High),IL,21. * CERTIFIED FOOD MANAGER ON SITE WHEN POTE...,60613
1589074,50 N WESTERN AVE,POPEYES FAMOUS FRIED CHICKEN,CHICAGO,POPEYES FAMOUS FRIED CHICKEN,Restaurant,2015-12-01,Complaint Re-Inspection,41.882633,14897.0,-87.686622,Pass,Risk 1 (High),IL,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,60612
521631,3443 W ADDISON ST,KMART #3371,CHICAGO,KMART #3371,Restaurant,2011-07-27,Complaint Re-Inspection,41.946430,1475512.0,-87.714437,Pass,Risk 2 (Medium),IL,2. FACILITIES TO MAINTAIN PROPER TEMPERATURE -...,60618
413225,5318 N Broadway,Burger & Pita,CHICAGO,Burger & Pita,Restaurant,2010-09-09,Complaint Re-Inspection,41.978743,2008718.0,-87.660082,Pass,Risk 1 (High),IL,2. FACILITIES TO MAINTAIN PROPER TEMPERATURE -...,60640
229431,216 W JACKSON BLVD,JIMMY JOHNS,CHICAGO,JIMMY JOHNS,Restaurant,2010-05-25,Complaint Re-Inspection,41.878223,1573968.0,-87.634247,Pass,Risk 1 (High),IL,24. DISH WASHING FACILITIES: PROPERLY DESIGNED...,60606
1496831,38 E 112TH ST,TAURUS FLAVORS,CHICAGO,TAURUS FLAVORS,Restaurant,2014-09-17,Complaint Re-Inspection,41.690897,1194320.0,-87.621587,Pass,Risk 2 (Medium),IL,"11. ADEQUATE NUMBER, CONVENIENT, ACCESSIBLE, D...",60628
1516115,3958 W MONROE ST,BABA'S FAMOUS STEAK AND LEMONADE 2,CHICAGO,BABA'S FAMOUS STEAK AND LEMONADE,Restaurant,2015-01-21,Complaint Re-Inspection,41.879873,2153509.0,-87.725517,Pass,Risk 2 (Medium),IL,29. PREVIOUS MINOR VIOLATION(S) CORRECTED 7-42...,60624
1385722,5650 W FULLERTON AVE,DUNKIN DONUTS/ BASKIN ROBBINS,CHICAGO,DUNKIN DONUTS/ BASKIN ROBBINS,Restaurant,2014-10-24,Complaint Re-Inspection,41.924059,1122044.0,-87.768052,Pass,Risk 2 (Medium),IL,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,60639
1335958,1127 W BRYN MAWR AVE,DUNKIN DONUT,CHICAGO,DUNKIN DONUT,Restaurant,2013-06-06,Complaint Re-Inspection,41.983529,28690.0,-87.659155,Pass,Risk 2 (Medium),IL,"43. FOOD (ICE) DISPENSING UTENSILS, WASH CLOTH...",60660
547963,5158 W DIVISION ST,GFC,CHICAGO,GFC,Restaurant,2012-01-26,Complaint Re-Inspection,41.902360,1493459.0,-87.755717,Pass,Risk 2 (Medium),IL,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,60651
1114918,888 S MICHIGAN AVE,OYSY,CHICAGO,OYSY,Restaurant,2013-07-12,Complaint Re-Inspection,41.870775,1249381.0,-87.624293,Pass,Risk 1 (High),IL,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,60605
1467246,818-822 W RANDOLPH ST,LITTLE GOAT DINER,CHICAGO,LITTLE GOAT DINER,Restaurant,2014-04-21,Complaint Re-Inspection,41.884503,2133590.0,-87.648286,Pass,Risk 1 (High),IL,29. PREVIOUS MINOR VIOLATION(S) CORRECTED 7-42...,60607
1441896,1635-1637 N DAMEN AVE,NORTHSIDE CAFE INC,CHICAGO,NORTHSIDE CAFE INC,Restaurant,2015-05-21,Complaint Re-Inspection,41.911516,20841.0,-87.677341,Pass,Risk 1 (High),IL,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,60647
634393,3241 W NORTH AVE,MCDONALDS #29307,CHICAGO,MCDONALDS #29307,Restaurant,2011-08-26,Complaint Re-Inspection,41.909982,1595934.0,-87.708657,Pass,Risk 2 (Medium),IL,4. SOURCE OF CROSS CONTAMINATION CONTROLLED I....,60647
1734440,2306 W DEVON AVE,DAATA DARBAR,CHICAGO,DAATA DARBAR RESTAURENT,Restaurant,2016-03-18,Complaint Re-Inspection,41.997876,2079949.0,-87.687764,Pass,Risk 1 (High),IL,3. POTENTIALLY HAZARDOUS FOOD MEETS TEMPERATUR...,60659
1464494,1133 W BRYN MAWR AVE,HELLAS GYROS,CHICAGO,HELLAS GYROS INC,Restaurant,2014-09-24,Complaint Re-Inspection,41.983525,1655.0,-87.659397,Pass,Risk 1 (High),IL,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,60660
634560,4210 N CICERO AVE,I.H.O.P. RESTAURANT,CHICAGO,I.H.O.P.,Restaurant,2011-09-14,Complaint Re-Inspection,41.957429,46344.0,-87.747574,Pass,Risk 1 (High),IL,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,60641
1154983,1358 E 75TH ST,J & J FAST FOOD,CHICAGO,J & J FAST FOOD,Restaurant,2013-04-10,Complaint Re-Inspection,41.758833,1093547.0,-87.590862,Pass,Risk 2 (Medium),IL,29. PREVIOUS MINOR VIOLATION(S) CORRECTED 7-42...,60619
1234720,5523 N LINCOLN AVE,SHAWARMA INN,CHICAGO,SHAWARMA,Restaurant,2012-08-20,Complaint Re-Inspection,41.982076,1997591.0,-87.693117,Pass,Risk 1 (High),IL,29. PREVIOUS MINOR VIOLATION(S) CORRECTED 7-42...,60625
1202377,4305 S Pulaski RD,All Style Buffet,CHICAGO,All Style Buffet,Restaurant,2012-07-26,Complaint Re-Inspection,41.814994,1959502.0,-87.723708,Pass,Risk 1 (High),IL,38. VENTILATION: ROOMS AND EQUIPMENT VENTED AS...,60632
1480427,4254 W 31ST ST,HOME RUN INN,CHICAGO,HOME RUN INN,Restaurant,2014-12-11,Complaint Re-Inspection,41.836913,41530.0,-87.731411,Pass,Risk 1 (High),IL,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,60623
1459673,5131 N DAMEN AVE,"CHICAGO SUB & GRILL INC.,",CHICAGO,"CHICAGO SUB & GRILL INC.,",Restaurant,2014-05-13,Complaint Re-Inspection,41.975717,1718772.0,-87.679246,Pass,Risk 2 (Medium),IL,"30. FOOD IN ORIGINAL CONTAINER, PROPERLY LABEL...",60625
2078824,6560 S STONY ISLAND AVE,MCDONALD'S,CHICAGO,MCDONALD'S,Restaurant,2017-08-22,Complaint Re-Inspection,41.775220,1943516.0,-87.586437,Pass,Risk 2 (Medium),IL,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,60637
1375748,1023 W BELMONT,NATIVE FOODS CAFE,CHICAGO,NATIVE FOODS CAFE,Restaurant,2013-12-02,Complaint Re-Inspection,41.939788,2092912.0,-87.654966,Pass,Risk 1 (High),IL,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,60657
1385730,800 N KEDZIE AVE,DUNKIN DONUTS / BASKIN ROBBINS,CHICAGO,DUNKIN DONUTS / BASKIN ROBBINS,Restaurant,2014-10-28,Complaint Re-Inspection,41.895615,1649847.0,-87.706705,Fail,Risk 2 (Medium),IL,"11. ADEQUATE NUMBER, CONVENIENT, ACCESSIBLE, D...",60651
1591671,3463 N CLARK ST,DIMO'S PIZZA,CHICAGO,DIMO'S PIZZA WRIGLEYVILLE,Restaurant,2015-12-14,Complaint Re-Inspection,41.945133,2229420.0,-87.654677,Pass,Risk 1 (High),IL,"9. WATER SOURCE: SAFE, HOT & COLD UNDER CITY P...",60657
1493565,209 W CERMAK RD,THREE HAPPINESS RESTAURANT,CHICAGO,THREE HAPPINESS RESTAURANT,Restaurant,2014-08-13,Complaint Re-Inspection,41.852736,39807.0,-87.632444,Pass w/ Conditions,Risk 1 (High),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60616
529379,1943 W 51ST ST,TAQUERIA DON PANCHO'S,CHICAGO,TAQUERIA DON PANCHO'S,Restaurant,2011-11-04,Complaint Re-Inspection,41.801131,1226388.0,-87.673807,Pass,Risk 1 (High),IL,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,60609
657253,207 E 35TH ST,MCDONALD'S,CHICAGO,MCDONALD'S,Restaurant,2011-09-08,Complaint Re-Inspection,41.830953,1514130.0,-87.621449,Pass w/ Conditions,Risk 2 (Medium),IL,21. * CERTIFIED FOOD MANAGER ON SITE WHEN POTE...,60616

In [ ]:
%load solutions/query.py

```python
visited = (dta.query("risk == 'Risk 1 (High)'")
           .groupby(('address', 'dba_name'))
           .size()
           .rename('n_visits')  # size returns a nameless series
           .reset_index()  # make into a DataFrame
           .query("n_visits >= 4"))
```


The next new method is the **rename** method. We use this to rename the unnamed Series returned by `size`.

Finally, we filter on restaurants with 4 or more total visits.

The final piece is computing the Fail:Pass ratio of these restaurants. To do this, we need to take the output we've created `visited` and line our original data up with these addresses and DBA names.

In [31]:
visited.head()

              address                                  dba_name  n_visits
0       1 E 113TH ST                 V & J DAY CARE CENTER, INC         6
2   1 E JACKSON BLVD             Chartwells @ DePaul University         5
4      1 E WACKER DR   MCCORMICK & SCHMICK'S SEAFOOD RESTAURANT         4
18     1 W WACKER DR                  RENAISSANCE CHICAGO HOTEL         4
26  10 N DEARBORN ST                                 SOPRAFFINA         4

We can do this by using the **merge** method. Merge allows us to make two pandas DataFrames into a single DataFrame. By default, the `merge` method will join together two DataFrames on common columns, using an inner join method (a set intersection).

In [32]:
merged_visits = visited.merge(dta)
merged_visits.head()

,address,dba_name,n_visits,aka_name,city,facility_type,inspection_date,inspection_type,latitude,license_,longitude,results,risk,state,violations,zip
0,1 E 113TH ST,"V & J DAY CARE CENTER, INC",6,"V & J DAY CARE CENTER, INC",CHICAGO,Daycare Above and Under 2 Years,2010-10-08,Canvass,41.688848,1800876.0,-87.622894,Pass,Risk 1 (High),IL,36. LIGHTING: REQUIRED MINIMUM FOOT-CANDLES OF...,60628
1,1 E 113TH ST,"V & J DAY CARE CENTER, INC",6,"V & J DAY CARE CENTER, INC",CHICAGO,Daycare Above and Under 2 Years,2015-09-22,License,41.688848,2215538.0,-87.622894,Fail,Risk 1 (High),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60628
2,1 E 113TH ST,"V & J DAY CARE CENTER, INC",6,"V & J DAY CARE CENTER, INC",CHICAGO,Daycare Above and Under 2 Years,2010-10-08,Canvass,41.688848,21702.0,-87.622894,Pass,Risk 1 (High),IL,"34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO...",60628
3,1 E 113TH ST,"V & J DAY CARE CENTER, INC",6,"V & J DAY CARE CENTER, INC",CHICAGO,Daycare Above and Under 2 Years,2012-01-20,Canvass Re-Inspection,41.688848,21702.0,-87.622894,Pass,Risk 1 (High),IL,19. OUTSIDE GARBAGE WASTE GREASE AND STORAGE A...,60628
4,1 E 113TH ST,"V & J DAY CARE CENTER, INC",6,"V & J DAY CARE CENTER, INC",CHICAGO,Daycare Above and Under 2 Years,2012-01-13,Canvass,41.688848,1800876.0,-87.622894,Fail,Risk 1 (High),IL,19. OUTSIDE GARBAGE WASTE GREASE AND STORAGE A...,60628

In [33]:
merged_visits.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5110 entries, 0 to 5109
Data columns (total 16 columns):
address            5110 non-null object
dba_name           5110 non-null object
n_visits           5110 non-null int64
aka_name           5106 non-null object
city               5110 non-null object
facility_type      5107 non-null category
inspection_date    5110 non-null datetime64[ns]
inspection_type    5110 non-null category
latitude           5090 non-null float64
license_           5110 non-null float64
longitude          5090 non-null float64
results            5110 non-null category
risk               5110 non-null category
state              5110 non-null object
violations         5008 non-null object
zip                5110 non-null object
dtypes: category(4), datetime64[ns](1), float64(3), int64(1), object(7)
memory usage: 557.8+ KB

Now, we need to redo the analysis we started above for McDonald's. We take these merged DataFrames, group them by the inspection results, the address, and the DBA name and ask for the size of each group.

In [34]:
(merged_visits
 .groupby(('results', 'address', 'dba_name'))
 .size()).head()

/Users/firefreezing/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: Interpreting tuple 'by' as a list of keys, rather than a single key. Use 'by=[...]' instead of 'by=(...)'. In the future, a tuple will always mean a single key.

results  address            dba_name
Fail     1 E 113TH ST       V & J DAY CARE CENTER, INC                  2
         1 E JACKSON BLVD   Chartwells @ DePaul University              1
         1 E WACKER DR      MCCORMICK & SCHMICK'S SEAFOOD RESTAURANT    2
         10 N DEARBORN ST   SOPRAFFINA                                  1
         10 W HUBBARD ST    VERMILION                                   1
dtype: int64

## Exercise

Take this result and **pipe** it (using the `pipe` method) to a function that computes Fail/Pass. Make sure your result does not have any missing values, and sort it such that those with the highest Fail/Pass ratios are highest.

The **pipe** method allows for including user-defined functions in method chains. It takes the output of the thing on the left, and passes it to the thing on the right.

In [ ]:
# Type your solution here
(merged_visits
 .groupby(('results', 'address', 'dba_name'))
 .size()
 .rename('n_fails')
 .reset_index()
 .query("results == 'Fail'")
 .merge(visited)
 .pipe(lambda dat: dat.n_fails/dat.n_visits)
 .sort_values(ascending=False)
 .dropna())

In [ ]:
# %load solutions/pipe_results.py
 (merged_visits.pipe(lambda df: df['Fail'].div(df['Pass']))
  .dropna()
  .sort_values(ascending=False))

## Exercise

Now, take everything that we've done above, from `dta` to this final result, and put it together into a single method chain.

In [ ]:
# Type your solution here

In [ ]:
%load solutions/complete_chain.py

Often, I'll try to place a method chain to get the data ready for more exploratory work at the top of a notebook, so I can proceed with any analyses.

Now, let's go back to our original data and add in the unstacked violations to the information that's unchanging. Recall from the previous notebook that we unstack the violations as follows. There are two new things to note here though. We add in a `to_frame` method to turn the unstacked Series into a DataFrame, and we `rename` the unnamed column in the resulting DataFrame back to `violations`.

In [49]:
(dta.violations
 .str.split("|", expand=True)
 .unstack()
 .dropna()
 .reset_index(level=0, drop=True)
 .str.strip()
 .rename('violations')
 .to_frame()
 .sort_values('inspection_id'))

                                                      violations
inspection_id
44249          33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...
44249          41. PREMISES MAINTAINED FREE OF LITTER, UNNECE...
44249          35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...
44249          18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...
44249          34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO...
...                                                          ...
2102275        35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...
2102275        41. PREMISES MAINTAINED FREE OF LITTER, UNNECE...
2102275        40. REFRIGERATION AND METAL STEM THERMOMETERS ...
2102275        34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO...
2102275        33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...

[117723 rows x 1 columns]

First, we need to drop the violations from the original DataFrame, then we need to merge it with the unstacked violations Series that we created before. You can use `drop` to do this.

In [48]:
dta.drop(["violations"], axis='columns').head()

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_type,latitude,license_,longitude,results,risk,state,zip
inspection_id,,,,,,,,,,,,,,
1965287,5255 W MADISON ST,RED SNAPPER FISH CHICKEN & PIZZA,CHICAGO,RED SNAPPER FISH CHICKEN & PIZZA,Restaurant,2016-09-26,Canvass,41.880237,1991820.0,-87.757220,Pass w/ Conditions,Risk 1 (High),IL,60644
1329698,5958 W DIVERSEY AVE,TAQUERIA MORELOS,CHICAGO,TAQUERIA MORELOS,Restaurant,2014-02-06,Canvass,41.931250,2099479.0,-87.775907,Pass,Risk 1 (High),IL,60639
470787,5400-5402 N CLARK ST,HAMBURGER MARY'S/MARY'S REC ROOM,CHICAGO,HAMBURGER MARY'S CHICAGO/MARY'S REC ROOM,Restaurant,2010-12-03,SFP,41.979884,1933748.0,-87.668429,Fail,Risk 1 (High),IL,60640
68091,2804 N CLARK ST,Wells Street Popcorn,CHICAGO,Wells Street Popcorn,Restaurant,2010-02-01,Canvass,41.932921,1954774.0,-87.645155,Pass,Risk 2 (Medium),IL,60657
1335320,2409 N WESTERN AVE,CHICAGO CUPCAKE,CHICAGO,CHICAGO CUPCAKE LLC.,Mobile Food Dispenser,2013-05-03,License Re-Inspection,41.925218,2232391.0,-87.687507,Fail,Risk 3 (Low),IL,60647

## Exercise

Drop the original violations from `dta`, and **join** this to the unstacked violations as computed above. You'll probably want to use a **right join**.

We use **join** here rather than **merge**. Join uses merge under the hood but conveniently allows us to join on the indices of the two DataFrames by default. One other difference is that join uses an inner merge by default, but that's not what we want here. Since we drop the null violations on the right-hand side DataFrame, we want to do a right join.

In [66]:
# Type your solution here
df1 = dta.drop(["violations"], axis='columns')
df2 = (dta.violations
 .str.split("|", expand=True)
 .unstack()
 .dropna()
 .reset_index(level=0, drop=True)
 .str.strip()
 .rename('violations')
 .to_frame()
 .sort_values('inspection_id'))

print(df1.index.name)
print(df2.index.name)

dta = df1.join(df2, how = 'right')
dta.head()

inspection_id
inspection_id

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_type,latitude,license_,longitude,results,risk,state,zip,violations
inspection_id,,,,,,,,,,,,,,,
44249,960 W BELMONT AVE,Azha Restaurant,CHICAGO,Azha Restaurant Inc.,Restaurant,2010-01-21,Canvass Re-Inspection,41.940027,1334073.0,-87.653811,Pass,Risk 1 (High),IL,60657,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...
44249,960 W BELMONT AVE,Azha Restaurant,CHICAGO,Azha Restaurant Inc.,Restaurant,2010-01-21,Canvass Re-Inspection,41.940027,1334073.0,-87.653811,Pass,Risk 1 (High),IL,60657,"41. PREMISES MAINTAINED FREE OF LITTER, UNNECE..."
44249,960 W BELMONT AVE,Azha Restaurant,CHICAGO,Azha Restaurant Inc.,Restaurant,2010-01-21,Canvass Re-Inspection,41.940027,1334073.0,-87.653811,Pass,Risk 1 (High),IL,60657,"35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR..."
44249,960 W BELMONT AVE,Azha Restaurant,CHICAGO,Azha Restaurant Inc.,Restaurant,2010-01-21,Canvass Re-Inspection,41.940027,1334073.0,-87.653811,Pass,Risk 1 (High),IL,60657,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...
44249,960 W BELMONT AVE,Azha Restaurant,CHICAGO,Azha Restaurant Inc.,Restaurant,2010-01-21,Canvass Re-Inspection,41.940027,1334073.0,-87.653811,Pass,Risk 1 (High),IL,60657,"34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO..."

In [59]:
%load solutions/join_violations.py

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_type,latitude,license_,longitude,results,risk,state,zip,violations
inspection_id,,,,,,,,,,,,,,,
44249,960 W BELMONT AVE,Azha Restaurant,CHICAGO,Azha Restaurant Inc.,Restaurant,2010-01-21,Canvass Re-Inspection,41.940027,1334073.0,-87.653811,Pass,Risk 1 (High),IL,60657,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...
44249,960 W BELMONT AVE,Azha Restaurant,CHICAGO,Azha Restaurant Inc.,Restaurant,2010-01-21,Canvass Re-Inspection,41.940027,1334073.0,-87.653811,Pass,Risk 1 (High),IL,60657,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...
44249,960 W BELMONT AVE,Azha Restaurant,CHICAGO,Azha Restaurant Inc.,Restaurant,2010-01-21,Canvass Re-Inspection,41.940027,1334073.0,-87.653811,Pass,Risk 1 (High),IL,60657,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...
44249,960 W BELMONT AVE,Azha Restaurant,CHICAGO,Azha Restaurant Inc.,Restaurant,2010-01-21,Canvass Re-Inspection,41.940027,1334073.0,-87.653811,Pass,Risk 1 (High),IL,60657,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...
44249,960 W BELMONT AVE,Azha Restaurant,CHICAGO,Azha Restaurant Inc.,Restaurant,2010-01-21,Canvass Re-Inspection,41.940027,1334073.0,-87.653811,Pass,Risk 1 (High),IL,60657,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...

Now that we have a relatively clean DataFrame, let's ask a few more questions. 

First, how many unique violations do we have?

In [67]:
dta.shape

(117723, 15)

In [68]:
dta.violations.head()

inspection_id
44249    33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...
44249    41. PREMISES MAINTAINED FREE OF LITTER, UNNECE...
44249    35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...
44249    18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...
44249    34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO...
Name: violations, dtype: object

In [69]:
dta.violations.unique().shape

(97972,)

Is this true? Do we really think there are this many violation numbers? Probably not. We can use the `str` accessor and some more munging to answer this. Here we pass a **regular expression** to `str.extract`. Extract expects a *capture group*, indicated by `()`. The regular expression `(\d+\)(?=\.)` means capture 1 or more (`+`) digits (`\d`) that is followed by (`(?=)`) a period `\.`. We escape the period because a plain `.` is a wildcard for any character.

In [70]:
(dta.violations
 .str.extract("(\d+)(?=\.)", expand=False)
 .astype(int))

inspection_id
44249      33
44249      41
44249      35
44249      18
44249      34
           ..
2102275    35
2102275    41
2102275    40
2102275    34
2102275    33
Name: violations, Length: 117723, dtype: int64

In [90]:
# # side note: rename a dataframe
# dta1 = dta.iloc[:5]

# (dta1.violations
#  .str.extract("(\d+)(?=\.)", expand=True)
#  .rename(columns = {0:'violations'}))

              violations
inspection_id
44249                 33
44249                 41
44249                 35
44249                 18
44249                 34

So how many unique violations do we have?

In [71]:
np.sort(
    dta.violations
        .str.extract("(\d+)(?=\.)", expand=False)
        .astype(int)
        .unique()
).shape

(45,)

Second, can we figure out how many times an establishment previously failed an inspection (within the sample we have)? How might we approach this? 

First, we want to restrict the data to just a single row for each inspection. Since we merged everything with the unstacked violations above, we'll need to use `drop_duplicates` to do this.

In [91]:
visits = dta.drop_duplicates(["address", "dba_name", "inspection_date"])

In [92]:
visits.head()

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_type,latitude,license_,longitude,results,risk,state,zip,violations
inspection_id,,,,,,,,,,,,,,,
44249,960 W BELMONT AVE,Azha Restaurant,CHICAGO,Azha Restaurant Inc.,Restaurant,2010-01-21,Canvass Re-Inspection,41.940027,1334073.0,-87.653811,Pass,Risk 1 (High),IL,60657,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...
44259,5501 N KEDZIE AVE,NORTHSIDE COLLEGE PREP,CHICAGO,NORTHSIDE COLLEGE PREP.,School,2010-05-12,Canvass,41.981352,46061.0,-87.708672,Pass,Risk 1 (High),IL,60625,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...
44262,3132 N BROADWAY,NEW PEKING RESTAURANT,CHICAGO,NEW PEKING RESTAURANT,Restaurant,2010-06-09,Canvass,41.938648,31997.0,-87.644499,Pass,Risk 1 (High),IL,60657,"35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR..."
48225,2211 N OAK PARK AVE,SHRINERS HOSPITALS FOR CHILDREN,CHICAGO,SHRINERS HOSPITALS FOR CHILDREN,Hospital,2010-03-02,Canvass,41.920336,15783.0,-87.794994,Pass,Risk 1 (High),IL,60707,"34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO..."
52237,4140 N Marine DR,DISNEY MAGNET,CHICAGO,DISNEY MAGNET,School,2010-02-18,Canvass,41.956807,29401.0,-87.646118,Fail,Risk 1 (High),IL,60613,38. VENTILATION: ROOMS AND EQUIPMENT VENTED AS...

We're going to rely on some pandas time-series functionality to do this, so we will need to ensure that the inspection dates are sorted within each group. GroupBy will preserve this.

In [93]:
visits = visits.sort_values(["address", "dba_name", "inspection_date"])

In [94]:
grouper = visits.groupby((visits.address, visits.dba_name))

/Users/firefreezing/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Interpreting tuple 'by' as a list of keys, rather than a single key. Use 'by=[...]' instead of 'by=(...)'. In the future, a tuple will always mean a single key.
  """Entry point for launching an IPython kernel.

Ok, we might ask, "now what?" Remember the trick to pull out groups? Let's use it to work with something we can think about.

In [95]:
group_key = list(grouper.groups.keys())[0]

In [96]:
group_key

('1 E 113TH ST ', 'V & J DAY CARE CENTER, INC')

In [97]:
group = grouper.get_group(group_key)

In [98]:
group

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_type,latitude,license_,longitude,results,risk,state,zip,violations
inspection_id,,,,,,,,,,,,,,,
419315,1 E 113TH ST,"V & J DAY CARE CENTER, INC",CHICAGO,"V & J DAY CARE CENTER, INC",Daycare Above and Under 2 Years,2010-10-08,Canvass,41.688848,1800876.0,-87.622894,Pass,Risk 1 (High),IL,60628,36. LIGHTING: REQUIRED MINIMUM FOOT-CANDLES OF...
537511,1 E 113TH ST,"V & J DAY CARE CENTER, INC",CHICAGO,"V & J DAY CARE CENTER, INC",Daycare Above and Under 2 Years,2011-07-28,License,41.688848,1800876.0,-87.622894,Pass,Risk 1 (High),IL,60628,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...
545746,1 E 113TH ST,"V & J DAY CARE CENTER, INC",CHICAGO,"V & J DAY CARE CENTER, INC",Daycare Above and Under 2 Years,2012-01-13,Canvass,41.688848,1800876.0,-87.622894,Fail,Risk 1 (High),IL,60628,"41. PREMISES MAINTAINED FREE OF LITTER, UNNECE..."
545761,1 E 113TH ST,"V & J DAY CARE CENTER, INC",CHICAGO,"V & J DAY CARE CENTER, INC",Daycare Above and Under 2 Years,2012-01-20,Canvass Re-Inspection,41.688848,21702.0,-87.622894,Pass,Risk 1 (High),IL,60628,"35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR..."
1575903,1 E 113TH ST,"V & J DAY CARE CENTER, INC",CHICAGO,"V & J DAY CARE CENTER, INC",Daycare Above and Under 2 Years,2015-09-22,License,41.688848,2215538.0,-87.622894,Fail,Risk 1 (High),IL,60628,"41. PREMISES MAINTAINED FREE OF LITTER, UNNECE..."

In [99]:
group[['inspection_date', 'results']]

              inspection_date results
inspection_id
419315             2010-10-08    Pass
537511             2011-07-28    Pass
545746             2012-01-13    Fail
545761             2012-01-20    Pass
1575903            2015-09-22    Fail

Since, we need this to be backwards looking, we will **shift** the data by one visit. Shifting will move the data around by either a number of periods or a frequency. In this case, we use a number of periods and shift forward by 1 period.

In [100]:
group.shift(1)[['inspection_date', 'results']]

              inspection_date results
inspection_id
419315                    NaT     NaN
537511             2010-10-08    Pass
545746             2011-07-28    Pass
545761             2012-01-13    Fail
1575903            2012-01-20    Pass

If we take the cumulative sum of this, we'll have an accurate picture of previous failures.

In [101]:
(group.shift(1).results == 'Fail').cumsum()

inspection_id
419315     0
537511     0
545746     0
545761     1
1575903    1
Name: results, dtype: int64

In [102]:
visit_num = grouper.apply(lambda df: (df.shift(1).results == 'Fail').cumsum())

In [103]:
visit_num.head(n=15)

address            dba_name                        inspection_id
1 E 113TH ST       V & J DAY CARE CENTER, INC      419315           0
                                                   537511           0
                                                   545746           0
                                                   545761           1
                                                   1575903          1
1 E 83RD ST        SUBWAY                          545430           0
                                                   1561815          0
1 E DELAWARE PL    MORE CUPCAKES                   1583338          0
                                                   1967048          0
                   STARBUCKS COFFEE # 13468        1567071          0
1 E JACKSON BLVD   Chartwells @ DePaul University  401321           0
                                                   1114427          0
                                                   1114923          0
                                                   1684272          1
                                                   1966919          1
Name: results, dtype: int64

In [104]:
(visit_num.reset_index(level=[0, 1], drop=True)
 .to_frame()
 .rename(
    columns={'results': 'num_fails'}
))

               num_fails
inspection_id
419315                 0
537511                 0
545746                 0
545761                 1
1575903                1
...                  ...
1387593                0
1982485                0
276982                 0
1151201                0
1578220                0

[23807 rows x 1 columns]

In [106]:
dta.head()

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_type,latitude,license_,longitude,results,risk,state,zip,violations
inspection_id,,,,,,,,,,,,,,,
44249,960 W BELMONT AVE,Azha Restaurant,CHICAGO,Azha Restaurant Inc.,Restaurant,2010-01-21,Canvass Re-Inspection,41.940027,1334073.0,-87.653811,Pass,Risk 1 (High),IL,60657,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...
44249,960 W BELMONT AVE,Azha Restaurant,CHICAGO,Azha Restaurant Inc.,Restaurant,2010-01-21,Canvass Re-Inspection,41.940027,1334073.0,-87.653811,Pass,Risk 1 (High),IL,60657,"41. PREMISES MAINTAINED FREE OF LITTER, UNNECE..."
44249,960 W BELMONT AVE,Azha Restaurant,CHICAGO,Azha Restaurant Inc.,Restaurant,2010-01-21,Canvass Re-Inspection,41.940027,1334073.0,-87.653811,Pass,Risk 1 (High),IL,60657,"35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR..."
44249,960 W BELMONT AVE,Azha Restaurant,CHICAGO,Azha Restaurant Inc.,Restaurant,2010-01-21,Canvass Re-Inspection,41.940027,1334073.0,-87.653811,Pass,Risk 1 (High),IL,60657,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...
44249,960 W BELMONT AVE,Azha Restaurant,CHICAGO,Azha Restaurant Inc.,Restaurant,2010-01-21,Canvass Re-Inspection,41.940027,1334073.0,-87.653811,Pass,Risk 1 (High),IL,60657,"34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO..."

In [105]:
visit_num.head()

address        dba_name                    inspection_id
1 E 113TH ST   V & J DAY CARE CENTER, INC  419315           0
                                           537511           0
                                           545746           0
                                           545761           1
                                           1575903          1
Name: results, dtype: int64

In [107]:
visit_num.reset_index(level=[0, 1], drop=True).head()

inspection_id
419315     0
537511     0
545746     0
545761     1
1575903    1
Name: results, dtype: int64

In [108]:
(visit_num.reset_index(level=[0, 1], drop=True)
 .to_frame()
 .rename(
    columns={'results': 'num_fails'}
))

               num_fails
inspection_id
419315                 0
537511                 0
545746                 0
545761                 1
1575903                1
...                  ...
1387593                0
1982485                0
276982                 0
1151201                0
1578220                0

[23807 rows x 1 columns]

In [ ]:
dta.join((visit_num.reset_index(level=[0, 1], drop=True)
 .to_frame()
 .rename(
    columns={'results': 'num_fails'}
)))